
<button onclick="getScores()">Start Streaming Scores</button>
<pre id="scoreboard"></pre>

<script>
    async function getScores() {
        while (true) {
            await fetch("/scores")
                .then(response => response.json())
                .then(data => {
                    var body = document.getElementById("scoreboard");
                    body.textContent = JSON.stringify(data, null, 2)
                })
            await new Promise(r => setTimeout(r, 100));
        }
    }
</script>
